.boost {
  height: 14rem;
  background-image: url("/public/images/bg-boost-mobile.svg");
  background-position: center;
  background-color: var(--very-dark-blue);
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 768px) {
  .boost {
    background-image: url("/public/images/bg-boost-desktop.svg");
  }
}
