.feature-card {
  border-radius: 8px;
  margin: 0rem 2rem 0rem;
  padding: 1rem;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  p {
    margin-top: 1rem;
    font-size: 15px;
    color: var(--violet);
  }
  h3 {
    margin-top: 3rem;
  }
}
.feature-img {
  background-color: var(--dark-violet);
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -16%;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  z-index: 1;
  img {
    width: 50%;
    object-fit: contain;
  }
}
.yo {
  height: 5rem;
  width: 7px;
  margin: auto !important;
  background-color: var(--cyan);
}
.feature-container > :first-child {
  margin-top: 5rem;
}
.feature-container > :last-child {
  .yo {
    display: none !important;
  }
}
@media (min-width: 1440px) {
  .feature-container {
    margin-top: 7rem;
    display: flex;
    width: 93%;
    padding: 0 !important;
    p {
      font-size: 18px !important;
      text-align: left;
    }
    h3 {
      margin-top: 0rem !important;
      font-size: 24px;
      text-align: left !important;
      width: 100%;
    }
  }

  .feature-container > :first-child {
    margin-top: 0rem;
  }
  .feature-card {
    margin: 0rem;
    width: clamp(20rem, 100%, 40%) !important;
    height: 15.5rem;
    padding: 0rem 2rem;
  }
  .feature-card:first-child {
    transform: translateY(-10%);
  }
  .feature-card:nth-child(5) {
    transform: translateY(10%);
  }
  .yo {
    height: 0.5rem;
    width: 500px;
    margin: auto;
    background-color: var(--cyan);
  }
  .feature-img {
    left: 10%;
  }
}
@media (min-width: 768px) {
  .feature-card {
    margin: 0rem;
    width: 35rem;
    height: 15rem;
    padding: 0rem 2rem;
  }
  .feature-container {
    margin-top: 7rem;
    display: flex;
    width: 93%;
    padding: 0 !important;
    p {
      font-size: 15px !important;
      text-align: left;
    }
    h3 {
      margin-top: 0.7rem !important;
      font-size: 20px;
      text-align: left !important;
      width: 100%;
    }
  }
  .feature-card:first-child {
    margin-top: 0rem !important;
    transform: translateY(-10%);
  }
  .feature-card:nth-child(5) {
    transform: translateY(10%);
  }
  .yo {
    height: 0.5rem;
    width: 100px;
    margin: auto;
    background-color: var(--cyan);
  }
  .feature-img {
    left: 10%;
  }
}
