.footer {
  background-color: var(--very-dark-violet);
  color: white;
  li {
    font-size: 14px;
  }
  img {
    filter: brightness(0) invert(1);
  }
}
@media (min-width: 768px) {
  .footer-section {
    display: flex;
    border: 2px solid red;
  }
}
