.footer {
  background-color: var(--very-dark-violet);
  color: white;
  li {
    font-size: 14px;
  }
  img {
    filter: brightness(0) invert(1);
  }
  .links h4,
  ul {
    text-align: center;
  }
  .footer-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 768px) {
  .footer {
    display: flex;
    padding: 0 2rem;
    justify-content: space-between;
    height: fit-content;
    padding-top: 2rem;
    padding-bottom: 3rem;
  }
  li {
    font-size: 14px;
    padding-top: 0.3rem;
  }
  h4 {
    font-size: 17px;
    margin-top: 0rem !important;
    padding-top: 0rem !important;
  }
  .footer-img-container {
    width: 8%;
  }
  .footer-img-container img {
    width: 100%;
    object-fit: contain;
  }
  .links {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    width: 50%;
    padding: 0.5rem;
  }
  .social-icons {
    height: 100%;
    margin-top: 0rem !important;
    padding: 0.8rem;
  }
}
@media (min-width: 1440px) {
  .footer {
    display: flex;
    padding: 0 2rem;
    justify-content: space-between;
    height: fit-content;
    padding-top: 2rem;
    padding-bottom: 3rem;
    li {
      font-size: 18px;
      padding-top: 0.5rem;
    }
    h4 {
      font-size: 20px;
      margin-top: 0rem !important;
      padding-top: 0rem !important;
    }
  }

  .footer-img-container {
    width: 8%;
  }
  .footer-img-container img {
    width: 100%;
    object-fit: contain;
    transform: translateY(-95%);
  }
  .links {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    width: 50%;
    padding: 0.5rem;
  }
  .social-icons {
    height: 100%;
    margin-top: 0rem !important;
    padding: 0.8rem;
  }
}
