.hero-img-container {
  height: 40vh;
  overflow-y: hidden;
  display: flex;
  justify-content: flex-end;
  overflow-x: hidden;
  img {
    margin-top: 2.5rem;
    width: 129%;
    object-fit: contain;
    transform: scale(1.2) translateX(30%);
  }
}
.desktop-menu {
  display: none;
}
.hero-content p {
  color: var(--gray);
}
.header img {
  width: 19%;
}
@media (min-width: 768px) {
  .header {
    padding: 1rem 1rem !important;
  }
  .header img {
    width: 8%;
  }
  .hero-img-container {
    height: 50vh;
  }
  p {
    font-size: 18px !important;
  }
  .harmbugger {
    display: none;
  }
  .desktop-menu {
    display: flex;
    width: 100%;
  }
  .left {
    margin-left: 2rem;
  }
  .hero-section {
    margin-top: 1rem;
    display: flex;
    flex-direction: row-reverse;
  }
  .hero-content {
    width: 50%;
    position: relative;
    place-content: center;
  }
  .hero-img-container {
    width: 60%;
    img {
      width: 120%;
      object-fit: contain;
      transform: scale(1.2) translateX(22.4%);
    }
  }
  .hero-content h2 {
    font-size: 56px !important;
  }
  .hero-content p,
  h2 {
    text-align: left;
  }
  .get-started {
    display: flex;
    justify-content: flex-start;
  }
}
@media (min-width: 1440px) {
  .header {
    border: 2px solid transparent;
    padding: 1rem 2.2rem !important;
  }
  .hero-content {
    width: 35%;
    margin-left: 3rem;
  }
  .hero-content h2 {
    font-size: 63px !important;
  }
  .hero-content p {
    font-size: 22px !important;
  }
  .hero-img-container {
    width: 60%;
  }
  img {
    object-fit: cover;
  }
}
.pointer {
  color: gray;
}
.ttl:hover {
  color: var(--cyan) !important;
}
.icon img :hover {
  fill: var(--cyan);
}
