.shorten {
  height: fit-content;
  background-image: url("/public/images/bg-shorten-mobile.svg");
  background-repeat: no-repeat;
  background-position: top right;
  background-color: var(--dark-violet);
  border-radius: 10px;
  padding: 1.7rem;
  position: absolute;
  top: -4.6rem;
  width: 90%;
}
.shorten input {
  color: white;
  width: 100%;
  outline: 2px solid transparent;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 6px;
  background-color: white;
}
.features {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
  padding-bottom: 5rem;
  margin-top: 9rem;
  position: relative;
  background-color: #f0f1f6;
}
.err-msg {
  color: var(--red);
  font-style: italic;
  font-size: 14px;
  height: fit-content;
  width: 100%;
}

@media (min-width: 768px) {
  .shorten {
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: -3.3rem;
    width: 93%;
    margin-left: 2rem !important;
    margin-right: 2rem !important;
    padding: 2rem;
  }
  .shorten input {
    height: 3rem !important;
    padding: 0rem 0.5rem !important;
    width: 75%;
  }
  .shorten-btn {
    width: 20% !important;
    margin-top: 0rem !important;
    padding: 0.65rem 0rem !important;
  }
  .err-msg {
    position: absolute;
    bottom: 2%;
    font-size: 12px !important;
  }
  .statistics h2 {
    text-align: center !important;
    font-size: 26px !important;
  }
  .statistics p {
    font-size: 19px !important;
  }
}
