.card-url {
  // display: none;
  p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px;
    padding: 0.1rem 1rem;
  }
  height: 9rem;
  width: 90%;
  background-color: white;
  border-radius: 6px;
}
.card-url p:first-child {
  border-bottom: 1px solid var(--gray);
}

.card-url p:nth-child(2) {
  padding-top: 0.7rem;
  color: var(--cyan);
}
